@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;800&family=Caveat:wght@400..700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #0D47A1;
  --color-secondary: #F59E0B;
  --color-accent: #16A34A;
  --color-background: #FFFFFF;
  --color-light-bg: #F8FAFC;
  --color-text: #0F172A;
  --color-muted-text: #64748B;
  --color-success: #22C55E;

  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-signature: "Caveat", cursive;
}

@layer utilities {
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-body text-text bg-background;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
